* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Sofia Sans", sans-serif;
  scroll-behavior: smooth;
}
/*60269e*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9rem;
}
.hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.4rem;
  width: 3rem;
  cursor: pointer;
}
.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #60269e;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar ul {
  display: flex;
  gap: 3rem;
  font-size: 1.4rem;
}

.navbar a {
  color: black;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  background: none;
}
.navbar a:hover {
  color: #60269e;
}

.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5rem 9rem;
  max-width: 130rem;
  align-items: center;
}

.home_content h3 {
  font-size: 2rem;
  color: #60269e;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home_content h1 {
  font-size: 5.3rem;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home_content p {
  font-size: 1.5rem;
  margin: 2rem 0;
  max-width: 60rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home_btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #60269e;
  color: white;
  font-size: 1.3rem;

  border-radius: 0.5rem;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1.3s;
}
.home-btn,
a {
  background-color: white;
  color: #60269e;
  font-weight: 600;
}
.home-btn {
  color: #60269e;
  border: #60269e 1px solid;
  margin-left: 1.2rem;
}
.home_img {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.abt_me_sec {
  padding: 7rem 9rem;
  max-width: 130rem;
}
.about_me_container {
  text-align: center;
}
.abt_txt {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.abt_txt span {
  color: #60269e;
}
.abt_me {
  font-size: 1.7rem;
  max-width: 85rem;
  margin: 0 auto;
  line-height: 2rem;
}
.skill_section {
  padding: 7rem 9rem;
  max-width: 130rem;
}
.skill_header {
  margin-bottom: 5rem;
}
.skill h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.7rem 1rem 0.5rem 0;
}

.progress_bar {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  height: 1rem;
  width: 100%;
}
.progress_bar div {
  height: 1rem;
  background-color: #60269e;
  border-radius: 0.5rem;
  width: 50%;
  position: relative;
  margin-top: 2rem;
}
.progress_bar div span {
  background-color: #60269e;
  color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  font-size: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -1.5rem;
}
.html {
  animation: html 1s linear forwards;
}
.css {
  animation: css 1s linear forwards;
}
.javascript {
  animation: javascript 1s linear forwards;
}
.wordpress {
  animation: wordpress 1s linear forwards;
}

@keyframes html {
  from {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}
@keyframes css {
  from {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes javascript {
  from {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes wordpress {
  from {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.service_sec {
  padding: 7rem 9rem;
  max-width: 130rem;
}
.sub_title {
  text-align: center;
  margin-bottom: 1rem;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.service {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.service:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.service h3 {
  font-size: 2rem;
  text-align: center;
}
.service p {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 2rem 0;
}
.service_img {
  width: 3rem;
  height: 3rem;
}
.service_h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.projects {
  padding: 5rem 9rem;
  text-align: center;
}
.projects h2 {
  margin-bottom: 2rem;
}
.projects span {
  color: #60269e;
  font-weight: 900;
}
.project_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
}
.project_card {
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.project_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}
.project_card img {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}
.project_card h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.project_card p {
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.project_tags {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.project_tags span {
  background-color: #60269e;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.contact_sec {
  padding: 7rem 9rem;
  max-width: 130rem;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
}
.contact_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.contact_img {
  width: 100%;
  height: 40rem;
  border-radius: 1rem;
  object-fit: cover;
}
.contact_input {
  padding: 1rem;
  border: 1.6px solid #60269e;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.contact_btn {
  padding: 1rem 2rem;
  background-color: #60269e;
  color: white;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 2rem 0;
  margin-top: 5rem;
}
footer p {
  font-size: 1.6rem;
}
.social_links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
footer a {
  font-weight: 700;
  font-size: 2rem;
  background-color: #f0f0f0;
}

@media (max-width: 77em) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 69em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 60em) {
  .header {
    margin-bottom: 4rem;
  }
  .navbar h1 {
    font-size: 2rem;
  }
  .home {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
  }
  .home_content h1 {
    font-size: 4rem;
  }
  .home_content p {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.6rem;
    max-width: 75rem;
  }
  .home_image {
    margin-top: 4rem;
  }
  .home_image img {
    width: 60rem;
    height: 60rem;
  }
  .services {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .service_h3 {
    font-size: 6rem;
  }
  .service p {
    font-size: 1.6rem;
  }
  .project_container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .project_card img {
    height: 25rem;
  }
  .projects h2 {
    font-size: 3rem;
  }
  .project_card h3 {
    font-size: 2.4rem;
  }
  .project_card p {
    font-size: 1.4rem;
  }
  .contact_container {
    grid-template-columns: 1fr;
  }
  .contact_form {
    max-width: 100%;
  }
}
@media (max-width: 47em) {
  html {
    font-size: 45%;
  }
  .navbar {
    display: none;
  }

  .hamburger-nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    gap: 0.5rem;
    height: 2rem;
    width: 2rem;
  }

  .hamburger-icon span {
    width: 100%;
    height: 0.4rem;
    background-color: rgba(0, 0, 0, 0.568);
    transition: all 0.3s ease-in-out;
  }

  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 0;
    list-style: none;
    z-index: 999;
  }

  .menu-links a {
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
    width: 100%;
    color: black;
    border-bottom: 1px solid #60269e;
  }

  .menu-links.open {
    max-height: 30rem;
  }

  .hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
@media (max-width: 40em) {
  .home_content h1 {
    font-size: 3.5rem;
  }
  .home_content h3 {
    font-size: 1.8rem;
  }
  .home_content p {
    font-size: 1.4rem;
  }
  .hamburger-nav h1 {
    padding-top: 2rem;
    margin: 0 5rem;
    font-size: 2rem;
  }
  .hamburger-menu {
    padding-top: 2rem;
    font-size: 2rem;
    margin: 0 5rem;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 29em) {
  html {
    font-size: 30%;
  }
  .hamburger-nav h1 {
    font-size: 3.5rem;
  }
  .hamburger-menu {
    font-size: 3.5rem;
  }
  .hamburger-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .home {
    padding: 2rem;
  }
  .home_content h1 {
    font-size: 4.8rem;
  }
  .home_content h3 {
    font-size: 2.6rem;
  }
  .home_content p {
    font-size: 2.3rem;
    line-height: 2.5rem;
    max-width: 80rem;
  }
  .home_btn {
    font-size: 2rem;
  }
  .abt_txt {
    font-size: 4.8rem;
  }
  .abt_me_sec {
    padding: 5rem 6rem;
  }
  .abt_me {
    font-size: 2.3rem;
    max-width: none;
  }
  .skill h3 {
    font-size: 2.2rem;
  }
  .service h3 {
    font-size: 2.6rem;
  }
  .service p {
    font-size: 2.2rem;
  }
  .text {
    font-size: 4.8rem;
  }
  .projects h2 {
    font-size: 4.8rem;
  }
  .project_card h3 {
    font-size: 3.2rem;
  }
  .project_card p {
    font-size: 2.2rem;
  }
  .contact_input {
    font-size: 2.2rem;
  }
  .contact_btn {
    font-size: 2.2rem;
  }
  .footer p {
    font-size: 2.2rem;
  }
}

@media (max-width: 26em) {
  .home_content h1 {
    font-size: 6rem;
  }
  .home_content h3 {
    font-size: 2.6rem;
  }
  .home_content p {
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 70rem;
  }
  .hamburger-nav h1 {
    font-size: 2rem;
  }
}
